@model List<Customer>

@{
    ViewData["Title"] = "Sams web bank-home";
}



<div class="row">
    <div class="col-sm-12">
        <h2>Customers</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Accounts</th>
                </tr>
            </thead>
            <tbody>


                @foreach (Customer c in Model)
                {
                <tr>
                    <td>@c.ID </td>
                    <td>@c.FirstName </td>
                    <td>@c.LastName </td>
                    <td>

                        <ul>
                            @foreach (var a in c.Accounts)
                            {
                            <li>@a.Value.AccountNumber &nbsp;&nbsp;&nbsp;  @a.Value.Salary.ToString("C")</li>
                                
                            }
                        </ul>                    
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
  
</div>
